@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?atv2n5');
  src:  url('fonts/icomoon.eot?atv2n5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?atv2n5') format('truetype'),
    url('fonts/icomoon.woff?atv2n5') format('woff'),
    url('fonts/icomoon.svg?atv2n5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-painting .path1:before {
  content: "\e907";
  color: rgb(252, 188, 12);
}
.icon-painting .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(231, 35, 93);
}
.icon-skywatch .path1:before {
  content: "\e912";
  color: rgb(37, 149, 238);
}
.icon-skywatch .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(70, 90, 101);
}
.icon-spraypainting .path1:before {
  content: "\e914";
  color: rgb(243, 183, 207);
}
.icon-spraypainting .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(254, 212, 78);
}
.icon-spraypainting .path3:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(184, 102, 198);
}
.icon-spraypainting .path4:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(253, 178, 3);
}
.icon-spraypainting .path5:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(142, 37, 170);
}
.icon-woodworking .path1:before {
  content: "\e919";
  color: rgb(247, 106, 3);
}
.icon-woodworking .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(65, 82, 90);
}
.icon-machinelearninglogo .path1:before {
  content: "\e905";
  color: rgb(246, 185, 206);
}
.icon-machinelearninglogo .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(232, 30, 99);
}
.icon-arduinologo:before {
  content: "\e900";
  color: #059789;
}
.icon-computervisionlogo .path1:before {
  content: "\e901";
  color: rgb(205, 214, 218);
}
.icon-computervisionlogo .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(144, 163, 173);
}
.icon-computervisionlogo .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(4, 171, 192);
}
.icon-computervisionlogo .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(0, 96, 100);
}
.icon-pythonlogo .path1:before {
  content: "\e909";
  color: rgb(254, 192, 8);
}
.icon-pythonlogo .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(1, 118, 188);
}
.icon-raspberrypilogo .path1:before {
  content: "\e90b";
  color: rgb(254, 63, 128);
}
.icon-raspberrypilogo .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(215, 64, 118);
}
.icon-raspberrypilogo .path3:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(96, 211, 25);
}
.icon-raspberrypilogo .path4:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(159, 66, 104);
}
.icon-raspberrypilogo .path5:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(89, 78, 92);
}
.icon-raspberrypilogo .path6:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(54, 70, 77);
}
.icon-sketchuplogo:before {
  content: "\e911";
  color: #d23030;
}
.icon-sketchuplogo1:before {
  content: "\e92a";
  color: #d23030;
}
.icon-python:before {
  content: "\e923";
  color: #3776ab;
}
.icon-raspberrypi:before {
  content: "\e924";
  color: #c51a4a;
}
.icon-arduino:before {
  content: "\e925";
  color: #00979d;
}
